$defaultColor: #FFFFFF;

$disbaledColor: #A1A1A1;

$transColor: transparent;

$focusColor: #3551b1;

$borderRadiusDefault: 10px;

$colorError: #BF2E1B;

$colorSuccess: #50C624;

$colorHightlight: #4b90ff;