@import "./__variables.scss";
$paddingInput: 12.5px;
$panelInput: 19px;

.form-input-number {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: $defaultColor;
    padding: 12px 16px;
    height: 49px;
    border-radius: 10px;
}

.layout-input {
    width: 100%;
    position: relative;
    border-radius: 13px;
    background-color: transparent;
    padding: 3px;
    margin-top: -3px;
}
.content-edittable {
    width: 0 !important;
    position: absolute;
}
.input-custom-form {
    width: 100%;
    display: block !important;
    position: relative;
    border: 3px solid $defaultColor;
}
.input_group {
    overflow: hidden;
}
.hightlight-input {
    background-color: $colorHightlight !important;
    color: #FFFFFF;
}
.input-hidden {
    color: transparent;
    caret-color: transparent !important;
    background: none;
    &:focus {
        outline: none;
    }
}
.scroll-input {
    overflow-x:scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    box-sizing: content-box;

    &::-webkit-scrollbar {
        display: none;  /* Safari and Chrome */
    }
}

.input-data {
    display: block;
    position: absolute;
    z-index: 999999;
    background: transparent !important;
    width: calc(92% - 30px) !important;
    color: transparent;
    height: 100%;
}

.layer-input {
    position: relative;
    top: 0;
    left: 0;
    background: transparent;
    z-index: 9;
    color: #000000;
    font-weight: 200;
    font-family: inherit;
}

[contenteditable] {
    outline: 0px solid transparent;
    width: 2000px;
}
.element-input {
    width: 9px;
    text-align: center;
    display: flex;
    padding-top: $paddingInput;
    cursor: text;
}
.focus-input, .panel-focus {
    display: block;
    height: 19px;
    background-color: #000000;
    width: 1px;
    margin: 1.5px 0;
    color: #000000 !important;
    opacity: 1 !important;
    .focus-dash {
        background-color: #000000;
        width: 1px;
        height: 100%;
        margin: auto;
        float: right;
    }
}
.keydown-input {
    position: relative;
    display: flex;
    height: 22px;
    margin: 0 auto;
    width: 100%;
    cursor: text;
}

.placehoder-input {
    z-index: 1;
    position: absolute;
    opacity: 0.75 !important;
    padding-top: $paddingInput;
}

.disabled-input {
    background-color: $disbaledColor !important;
    border: 3px solid $disbaledColor;
}

.panel-focus {
    background-color: transparent;
}

.number-input {
    width: calc(100% - 1px);
}

.blink-focus {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.label-input {
    width:210px;
    height: 100%;
    line-height: inherit;
    display: flex;
    caret-color: transparent !important;
}

.show-input {
    padding-top: $paddingInput;
    overflow: hidden;
    width: calc(100% - 30px);
}

.tag-input {
    height: 45px !important;
    width: 92%;
    z-index: 999;
    display:block;
    margin-right: -10.5px !important;
}

.icon-x {
    float: left;
    top: 18px;
    right: 15px;
    position: absolute;
    z-index: 9 !important;
}

@media only screen and (max-width: 1550px) {
    .tag-input {
        width: 85%;
        height: 45px !important;
        margin-right: -49px !important;
    }
}

@media only screen and (max-width: 1024px) {
    .icon-x {
        top: 14px;
        right: 6px;
    }

    .layer-input {
        top: -26.5px;
    }

    .tag-input {
        height: 45px !important;
        width: 80%;
        margin-right: -129px !important;
    }
}