@import "./__variables.scss";

.input-device-layout {
    display: flex;
    position: relative;
    flex-direction: column;

    .panel-input {
        padding: 3px !important;
        background-color: transparent !important;
        border-radius: 13px !important;
    }

    .focus-color{
        background-color: $focusColor !important;
    }

    .disabled-color{
        background-color:  $disbaledColor !important;
    }

    .form-input {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: $defaultColor;
        height: 49px;
        border-radius: $borderRadiusDefault;
        padding: 0.75rem;
        padding-top: 0.85rem;
        input{
            width: 100%;
            background-color: $transColor;
            &:focus{
                outline: none;
            }
        }

        .content-input input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        /* Firefox */
        .content-input input[type=number] {
            -moz-appearance: textfield;
        }
    }
}