<template>
    <div class="panel-message">
        <p
            v-if="message"
            class="alert-message"
            :class="[
                `alert-${typeMessage}`,
                fontMessage,
            ]"
        >
            {{ message }}
        </p>
    </div>
</template>
<script>
    export default {
        props: {
            message: String,
            fontMessage: {
                type: String,
                default: '',
            },
            typeMessage: {
                type: String,
                default: 'error',
            },
        },
    };
</script>
<style scoped lang="scss">
    @import "../sass/alert-message.scss";
</style>
