<template>
    <div
        v-blur-input="handleBlur"
        class="input-device-layout"
    >
        <div
            :class="[
                {
                    'focus-color': hasFocus
                },
                customClass
            ]"
            class="panel-input"
        >
            <div
                :class="[
                    {
                        'disabled-color':disabled,
                    },
                    customClass
                ]"
                class="form-input"
                @click="handleClick"
            >
                <input
                    v-if="showVal"
                    :value="showVal"
                    :disabled="disabled"
                    class="content-input"
                    readonly="true"
                    :placeholder="placeholder"
                    type="text"
                    autocomplete="off"
                >
                <input
                    v-else-if="type==='integer'"
                    ref="inputRef"
                    v-int-input
                    :value="currentData"
                    :disabled="disabled"
                    :placeholder="placeholder"
                    :readonly="readonly"
                    type="text"
                    class="content-input"
                    autocomplete="off"
                    :rounded="rounded"
                    :textlen="maxlength"
                    @keyup="handleKeyUp"
                >
                <input
                    v-else
                    ref="inputRef"
                    v-decimal-input
                    :value="currentData"
                    :disabled="disabled"
                    :placeholder="placeholder"
                    :readonly="readonly"
                    type="text"
                    class="content-input"
                    autocomplete="off"
                    :rounded="rounded"
                    :textlen="maxlength"
                    @keyup="handleKeyUp"
                >
                <img
                    v-if="showClearInput && currentLength > 0"
                    src="../icons/cancel.svg"
                    class="cursor-pointer"
                    style="width: 20px;"
                    @click="handleClearInput"
                >
                <div v-else style="width: 20px;" />
            </div>
        </div>
        <AlertMessage
            :message="message"
            :font-message="fontMessage"
            :type-message="typeMessage"
        />
    </div>
</template>

<script>
    import AlertMessage from './AlertMessage.vue';
    import InputDefault from '../plugins/mixins/InputDefault';
    import InputDefine from '../plugins/mixins/InputDefine';
    import IntInput from '../plugins/directives/IntInput';
    import DecimalInput from '../plugins/directives/DecimalInput';

    export default {
        components: {
            AlertMessage,
        },
        directives: {
            IntInput,
            DecimalInput,
        },
        mixins: [InputDefault, InputDefine],
        computed: {
        },
        watch: {
            value() {
                this.currentData = this.value;
            },
            currentData() {
            },
        },
        mounted() {
        },
        created() {
            this.initData();
        },
        beforeDestroy() {
        },
        methods: {
        },
    };
</script>

<style scoped lang="scss">
    @import "../sass/input-style.scss";
</style>
