<template>
    <InputString
        v-if="type === 'text'"
        ref="inputDevice"
        v-model="currentData"
        :placeholder="placeholder"
        :type="type"
        :rounded="rounded"
        :maxlength="maxlength"
        :show-clear-input="showClearInput"
        :disabled="disabled"
        :readonly="readonly"
        :message="message"
        :custom-class="customClass"
        :font-message="fontMessage"
        :type-message="typeMessage"
        :show-format-comma="showFormatComma"
        :show-dot-decimal="showDotDecimal"
        @check-blur="checkBlur"
    />
    <InputNumMobile
        v-else-if="isMobile"
        ref="inputDevice"
        v-model="currentData"
        :placeholder="placeholder"
        :type="type"
        :rounded="rounded"
        :maxlength="maxlength"
        :show-clear-input="showClearInput"
        :disabled="disabled"
        :readonly="readonly"
        :message="message"
        :custom-class="customClass"
        :font-message="fontMessage"
        :type-message="typeMessage"
        :show-format-comma="showFormatComma"
        :show-dot-decimal="showDotDecimal"
        @check-blur="checkBlur"
    />
    <InputNumDesktop
        v-else
        ref="inputDevice"
        v-model="currentData"
        :placeholder="placeholder"
        :type="type"
        :rounded="rounded"
        :maxlength="maxlength"
        :show-clear-input="showClearInput"
        :disabled="disabled"
        :readonly="readonly"
        :message="message"
        :custom-class="customClass"
        :font-message="fontMessage"
        :type-message="typeMessage"
        :show-format-comma="showFormatComma"
        :show-dot-decimal="showDotDecimal"
        @check-blur="checkBlur"
    />
</template>

<script>
    import InputString from './InputString.vue';
    import InputNumMobile from './InputNumMobile.vue';
    import InputNumDesktop from './InputNumDesktop.vue';
    import { getOs } from '../commons/helpers';

    const TYPE_NUMBER = [
        'integer',
        'decimal',
    ];
    export default {
        components: {
            InputString,
            InputNumMobile,
            InputNumDesktop,
        },
        props: {
            typeMessage: {
                type: String,
                default: 'error',
            },
            value: {
                type: [String, Number],
                default: null,
            },
            placeholder: String,
            type: {
                type: String,
                default: 'text',
            },
            disabled: {
                type: Boolean,
                default: false,
            },
            showFormatComma: {
                type: Boolean,
                default: false,
            },
            showDotDecimal: {
                type: Boolean,
                default: false,
            },
            readonly: {
                type: Boolean,
                default: false,
            },
            maxlength: {
                type: Number,
                default: 100,
            },
            rounded: {
                type: Number,
                default: 0,
            },
            customClass: {
                type: String,
                default: '',
            },
            message: String,
            fontMessage: {
                type: String,
                default: 'text-sm lg:text-base',
            },
            colorPlacholder: {
                type: String,
                default: 'rgb(133, 133, 133)',
            },
            colorText: {
                type: String,
                default: 'inherit',
            },
            showClearInput: {
                type: Boolean,
                default: true,
            },
        },
        data() {
            return {
                isMobile: getOs() === 'tablet' || getOs() === 'mobile',
                currentData: this.value,
            };
        },
        computed: {
        },
        watch: {
            value() {
                this.currentData = this.value;
            },
            currentData() {
                this.$emit('input', this.currentData);
            },
        },
        created() {
        },
        beforeDestroy() {
        },
        methods: {
            isNumber() {
                return TYPE_NUMBER.indexOf(this.type) > -1;
            },
            focusInput() {
                if (this.checkDisabled()) {
                    return;
                }
                if (this.$refs.inputNumber) {
                    if (this.isMobile) {
                        this.$refs.inputNumber.handleClick();
                    } else {
                        this.$refs.inputNumber.handleKeyFocus(this.value);
                    }
                }
            },
            checkBlur() {
                this.$emit('handle-blur');
            },
        },
    };
</script>

<style scoped lang="scss">
</style>
