<template>
    <div class="input-device-layout">
        <div
            v-clickoutside="handleOutSideInput"
            :class="[
                {
                    'focus-color': !disabled && (hasFocus || checkExistHightLight())
                },
                customClass
            ]"
            class="layout-input"
        >
            <div
                :class="[
                    {
                        'disabled-color':disabled,
                    },
                    customClass
                ]"
                class="form-input-number"
                @mousedown="handleMouseDownInput"
                @dblclick="handleDbClick"
                @contextmenu="handleContextMenu"
            >
                <div
                    ref="showInput"
                    class="tag-input scroll-input"
                    :style="{
                        'color': colorText,
                        'opacity': '1'
                    }"
                    @touchmove="(e) => e.preventDefault()"
                >
                    <div
                        v-if="showVal"
                        class="label-input"
                    >
                        <div class="show-input">{{ showVal }}</div>
                    </div>
                    <div
                        v-else
                        class="label-input"
                    >
                        <div
                            v-for="(item, index) in dataInputs"
                            :key="index"
                            class="element-input"
                            @mousedown="handleElementClickDown($event, index)"
                        >
                            <div
                                class="keydown-input"
                                :class="checkHightLight(index) ? 'hightlight-input' : ''"
                            >
                                <div v-if="hasFocus && index === positionFocus" class="focus-input blink-focus" />
                                <div
                                    v-else
                                    class="panel-focus"
                                    @mousemove="handleMoveFocus($event, index)"
                                />
                                <div
                                    class="number-input"
                                    @mousemove="handleMoveElement($event, index)"
                                >{{ item }}</div>
                            </div>
                        </div>
                        <div
                            v-if="!currentLength"
                            :style="{
                                'color': colorPlacholder,
                            }"
                            class="placehoder-input"
                        >
                            {{ placeholder }}
                        </div>
                    </div>
                </div>
            </div>
            <img
                v-if="showClearInput && currentLength"
                src="../icons/cancel.svg"
                class="cursor-pointer icon-x"
                style="width: 20px;"
                @click="handleResetInput"
            >
            <MenuText
                v-if="showMenu"
                :range="rangeHightLight"
                @handle-event="handleEventMenu"
            />
        </div>
        <AlertMessage
            :message="message"
            :font-message="fontMessage"
        />
    </div>
</template>

<script>
    import { isNumberKeyPress, getValKeyPress, getPositionMouse } from '../commons/helpers';
    import { LEFT_POSITION, LIST_INT } from '../commons/constants';
    import InputDefault from '../plugins/mixins/InputDefault';
    import AlertMessage from './AlertMessage.vue';

    const ELEMENT_PIXEL = 9;
    const RIGHT_MOUSE_CLICK = 2;
    const LEFT_MOUSE_CLICK = 0;
    const KEY_PASTE = 86;
    const KEY_COPY = 67;
    const KEY_CTRL = 17;
    const KEY_COMMAND = 91;
    const TYPE_NUMBER = [
        'integer',
        'decimal',
        'datepicker',
        'monthpicker',
    ];
    export default {
        components: {
            AlertMessage,
        },
        mixins: [InputDefault],
        data() {
            return {
                positionFocus: 0,
                isInput: false,
                widthInput: 0,
                positionScreenMax: 0,
                positionScreenMin: 0,
                positionScreenMaxTmp: 0,
                positionScreenMinTmp: 0,
                dataInputs: [],
                isDblclick: false,
                showMenu: false,
                positionMaxShow: 0,
                rangeHightLight: [],
                elementClick: false,
                scrollCurrent: 0,
                addFocus: false,
                addEventMenu: false,
                selectionStart: 0,
                selectionEnd: 0,
                moveElement: false,
                keepMoveMouse: false,
                keyBack: false,
                scrollCurrentTmp: 0,
                leftScroll: false,
            };
        },
        computed: {
        },
        watch: {
            dataInputs() {
            },
            positionFocus() {
            },
            value() {
                this.handleKeyFocus(this.value);
            },
            currentData() {
                this.currentLength = this.currentData.toString().trim().length;
            },
            scrollCurrent() {
                this.updateScrollInput(this.scrollCurrent);
            },
        },
        created() {
            this.initData();
            if (this.value && this.value.length) {
                this.dataInputs = [...this.value, ''];
            } else {
                this.dataInputs.push('');
            }
        },
        mounted() {
        },
        beforeDestroy() {
            this.destroyEventHandle();
        },
        methods: {
            updateData() {
                this.currentData = this.dataInputs.join('');
            },
            resetPositionScreen() {
                this.positionScreenMax = this.getPosition(this.widthInput);
                this.positionScreenMin = 0;
            },
            resetScrollScreen() {
                this.scrollCurrent = 0;
            },
            handleResetInput() {
                if (this.checkDisabled()) {
                    return;
                }
                this.widthInput = this.$refs.showInput.clientWidth;
                this.dataInputs = [''];
                this.showVal = '';
                this.currentData = '';
                this.rangeHightLight = [];
                this.positionFocus = 0;
                this.resetScrollScreen();
                this.resetPositionScreen();
                setTimeout(() => {
                    this.resetEventHandle();
                    this.hasFocus = true;
                }, 50);
            },
            destroyEventHandle() {
                window.removeEventListener('copy', this.handleCopy);
                window.removeEventListener('paste', this.handlePaste);
                window.removeEventListener('keydown', this.handleKeyDown);
                window.removeEventListener('keyup', this.handlePressUp);
                window.removeEventListener('mouseup', this.handleMouseUp);
                this.addEventMenu = false;
            },
            handlePressUp() {
                this.$emit('input', this.currentData);
            },
            resetEventHandle() {
                if (this.addEventMenu) {
                    this.destroyEventHandle();
                }
                window.addEventListener('keydown', this.handleKeyDown);
                window.addEventListener('keyup', this.handlePressUp);
                window.addEventListener('copy', this.handleCopy);
                window.addEventListener('paste', this.handlePaste);
                window.addEventListener('mouseup', this.handleMouseUp);
                this.addEventMenu = true;
            },
            checkHightLight(val) {
                const range = this.rangeHightLight;
                if (this.checkExistHightLight()) {
                    if (val >= range[0] && val <= range[1]) {
                        return true;
                    }
                }

                return false;
            },
            handleElementClickDown(event, index) {
                if (this.checkDisabled()) {
                    return;
                }
                this.positionFocus = index;
                this.elementClick = true;
                this.selectionStart = index;
                this.selectionEnd = index;
                this.keepMoveMouse = true;
                event.preventDefault();
                if (event.button === LEFT_MOUSE_CLICK) {
                    this.rangeHightLight = [];
                    this.hasFocus = true;
                    this.isDblclick = false;
                }
            },
            updateTmpPositionScreen() {
                this.positionScreenMaxTmp = this.positionScreenMax;
                this.positionScreenMinTmp = this.positionScreenMin;
                this.scrollCurrentTmp = this.scrollCurrent;
            },
            handleMouseDownInput(event) {
                if (this.checkDisabled()) {
                    return;
                }
                event.preventDefault();

                this.widthInput = this.$refs.showInput.clientWidth;
                this.positionMaxShow = this.getPosition(this.widthInput);
                this.showVal = '';
                if (!this.elementClick) {
                    if (!this.dataInputs.length) {
                        this.dataInputs.push('');
                    }
                    this.handleLastFocus();
                }
                this.elementClick = false;
                if (event.button === RIGHT_MOUSE_CLICK) {
                    if (this.showMenu) {
                        this.showMenu = false;
                    } else {
                        this.showMenu = true;
                    }
                } else {
                    this.showMenu = false;
                }
                this.resetEventHandle();
            },
            updateRangeHightLight() {
                let range = [];
                let secStart = this.selectionStart;
                const positionMouse = getPositionMouse(this.selectionStart, this.selectionEnd);
                if (positionMouse === LEFT_POSITION) {
                    if (secStart > 0) {
                        secStart -= 1;
                    }
                }
                range = [secStart, this.selectionEnd];
                range.sort((a, b) => a - b);
                this.hasFocus = false;
                this.rangeHightLight = range;
            },
            handleElementMouseMove(event, index) {
                this.moveElement = true;
                this.selectionEnd = index;
                if (this.selectionEnd - 1 < this.positionScreenMin) {
                    this.handlePrevScroll();
                    this.leftScroll = true;
                } else if (this.selectionEnd + 1 >= this.positionScreenMax) {
                    this.handleNextScroll();
                    this.updateTmpPositionScreen();
                    this.leftScroll = false;
                } else {
                    this.leftScroll = true;
                }
                this.updateRangeHightLight();
            },
            handleMoveFocus(event, index) {
                if (this.keepMoveMouse && index !== this.currentLength) {
                    if (this.selectionEnd !== this.selectionStart) {
                        this.handleElementMouseMove(event, index);
                    } else {
                        this.hasFocus = true;
                        this.positionFocus = index;
                        this.rangeHightLight = [];
                    }
                }
            },
            handleMoveElement(event, index) {
                if (this.keepMoveMouse && index !== this.currentLength) {
                    this.handleElementMouseMove(event, index);
                }
            },
            handleMouseUp() {
                this.keepMoveMouse = false;
            },
            handleElementClickUp(event, index) {
                this.selectionEnd = index;
                this.updateRangeHightLight();
            },
            getPosition(val) {
                return Math.round(val / ELEMENT_PIXEL);
            },
            handleDbClick() {
                if (this.currentLength) {
                    this.hasFocus = false;
                    this.isDblclick = true;
                    this.positionFocus = 0;
                    this.rangeHightLight = [0, this.currentLength - 1];
                }
            },
            async handleEventMenu(menu) {
                const eventMenu = menu.toString().toLowerCase();
                if (eventMenu === 'copy') {
                    document.execCommand(eventMenu);
                } else if (navigator && navigator.clipboard) {
                    navigator.clipboard.readText().then((text) => {
                        this.formatDataAndPaste(text.trim());
                    });
                }
                setTimeout(() => {
                    this.showMenu = false;
                }, 300);
            },
            handleCopy(event) {
                const dataCopy = this.getDataHightLight();
                event.clipboardData.setData('text/plain', dataCopy);
                event.preventDefault();
            },
            getDataHightLight() {
                if (!this.checkExistHightLight()) {
                    return '';
                }
                const range = this.rangeHightLight;
                const dataCopy = this.currentData.toString().slice(range[0], range[1] + 1);
                return dataCopy;
            },
            handlePaste(event) {
                if (this.checkDisabled() || !this.checkExistHightLight()) {
                    return;
                }
                event.preventDefault();
                const data = event.clipboardData.getData('text');
                this.formatDataAndPaste(data);
            },
            formatDataAndPaste(dataPaste) {
                let data = dataPaste;
                if (data) {
                    if ((['integer', 'datepicker', 'monthpicker']).indexOf(this.type) > -1) {
                        data = data.replace(/[^0-9]/g, '');
                        data = data.slice(0, this.maxlength);
                    } else {
                        data = data.replace(/[^0-9.]/g, '')
                            .replace(/,/g, '.')
                            .replace(/[.](?!\d*$)/g, '');
                        const numbers = data.split('.');
                        if (numbers[0]) {
                            numbers[0] = numbers[0].slice(0, this.maxlength);
                        }
                        if (numbers[1]) {
                            numbers[1] = numbers[1].slice(0, this.rounded);
                        }
                        data = numbers.join('.');
                    }
                    this.handleKeyPaste(data);
                }
            },
            handleLastFocus() {
                this.hasFocus = true;
                this.rangeHightLight = [];
                let positionLeft = 0;
                const lastPosition = this.dataInputs.length - 1;
                this.positionFocus = lastPosition;
                const positionCurr = lastPosition - this.positionMaxShow;
                const scrollCurr = (positionCurr <= 0 ? 0 : positionCurr) * ELEMENT_PIXEL;
                positionLeft += scrollCurr;
                this.scrollCurrent = positionLeft;
                this.positionScreenMax = lastPosition <= this.positionMaxShow ? this.positionMaxShow : lastPosition;
                this.positionScreenMin = (positionCurr < 0 ? 0 : positionCurr);
                this.updateTmpPositionScreen();
            },
            handleContextMenu(event) {
                if (this.checkDisabled()) {
                    return;
                }
                event.preventDefault();
            },
            handleKeyInput(event) {
                event.preventDefault();
            },
            handleKeyDown(event) {
                if (this.checkDisabled()) {
                    return;
                }
                const keyPress = event.key;
                const keyCode = event.which || event.keyCode;
                // window, linux
                const ctrlKey = event.ctrlKey ? event.ctrlKey : ((keyCode === KEY_CTRL));
                // mac os
                const commandKey = event.metaKey ? event.metaKey : ((keyCode === KEY_COMMAND));
                const value = getValKeyPress(keyPress);
                if (!(
                    (
                        keyCode === KEY_PASTE && (ctrlKey || commandKey)
                    ) || (
                        keyCode === KEY_COPY && (ctrlKey || commandKey)
                    )
                )) {
                    event.preventDefault();
                }
                if (this.hasFocus || this.checkExistHightLight()) {
                    switch (keyPress) {
                        case 'ArrowRight':
                            this.handleKeyRight();
                            break;
                        case 'ArrowLeft':
                            this.handleKeyLeft();
                            break;
                        case 'Backspace':
                            this.handleKeyBack();
                            break;
                        default:
                            if (TYPE_NUMBER.indexOf(this.type) > -1) {
                                const numbers = this.currentData.split('.');
                                if (
                                    (
                                        isNumberKeyPress(keyPress)
                                        || (
                                            this.type === 'decimal'
                                            && keyPress === '.'
                                            && numbers.length < 2
                                        )
                                    )

                                ) {
                                    this.handleKeyNumber(value, numbers);
                                }
                            }
                            break;
                    }
                    this.updateTmpPositionScreen();
                    this.leftScroll = false;
                }
            },
            handleKeyNumber(value, numbers) {
                let hasUpdate = false;
                const numberElement = numbers.length;
                const limitMaxDotFocus = this.positionFocus <= (this.currentLength + 1);
                const limitMinDotFocus = this.positionFocus >= (this.currentLength - 2);
                if (this.checkExistHightLight()) {
                    hasUpdate = true;
                } else if (value === '.') {
                    if (
                        limitMaxDotFocus
                        && limitMinDotFocus
                        && numberElement === 1
                    ) {
                        hasUpdate = true;
                    }
                } else if (numberElement === 2) {
                    if (limitMaxDotFocus && limitMinDotFocus) {
                        if (numbers[1].length < this.rounded) {
                            hasUpdate = true;
                        }
                    } else if (numbers[0].length < this.maxlength) {
                        hasUpdate = true;
                    }
                } else if (numberElement === 1) {
                    if (numbers[0].length < this.maxlength) {
                        hasUpdate = true;
                    }
                }

                if (hasUpdate) {
                    this.handleKeyAdd(value);
                }
            },
            checkExistHightLight() {
                return this.rangeHightLight && this.rangeHightLight.length === 2;
            },
            checkHasDataInput() {
                return this.dataInputs && this.dataInputs.length;
            },
            checkPosLastFocus() {
                return this.currentLength && (this.positionFocus === this.currentLength - 1);
            },
            checkLastPage() {
                return (this.dataInputs.length - 1) === this.positionMaxShow;
            },
            handleKeyFocus(value) {
                this.currentData = value;
                this.dataInputs = [...value, ''];
                this.showVal = '';
                this.rangeHightLight = [];
            },
            handleKeyPaste(value) {
                let valPaste = value.trim().replace(/\s/g, '').replace(
                    /[\uff01-\uff5e]/g,
                    (ch) => String.fromCharCode(ch.charCodeAt(0) - 0xfee0),
                );
                const dotNumber = this.currentData.split('.');
                if (LIST_INT.indexOf(this.type) > -1 || (this.type === 'decimal' && dotNumber && dotNumber.length === 2)) {
                    valPaste = valPaste.replace(/[^0-9]/g, '');
                } else {
                    valPaste = valPaste.replace(/[^0-9.]/g, '')
                        .replace(/,/g, '.')
                        .replace(/[.](?!\d*$)/g, '');
                }
                if (valPaste && valPaste.length) {
                    let dataHightLight = this.getDataHightLight();
                    const currentData = this.currentData.toString().trim();
                    const lengthVal = valPaste.length;
                    let currentDataUpdate = this.currentData;
                    const lengthInputCurr = this.dataInputs.length;
                    if (this.checkExistHightLight()) {
                        const startRange = this.rangeHightLight[0];
                        const endRange = this.rangeHightLight[1];
                        const currentMoveHightLight = currentData.replace(dataHightLight, '').length;
                        if ((lengthVal + currentMoveHightLight) > this.maxlength) {
                            const hightlightMove = this.maxlength - currentMoveHightLight;
                            dataHightLight = dataHightLight.slice(0, hightlightMove);
                        }
                        currentDataUpdate = currentData.replace(dataHightLight, valPaste);
                        const rangeHightLight = this.rangeHightLight;
                        this.positionFocus = rangeHightLight[0];
                        this.updateAgainPositionScreen(startRange, endRange, lengthInputCurr);
                    } else {
                        const firstVal = this.currentData.slice(0, this.positionFocus);
                        const lastVal = this.currentData.replace(firstVal, '');
                        const currentLength = currentData.length;
                        if ((lengthVal + currentLength) > this.maxlength) {
                            const positionMove = this.maxlength - currentLength;
                            valPaste = valPaste.slice(0, positionMove);
                        }
                        currentDataUpdate = `${firstVal}${valPaste}${lastVal}`;
                    }
                    this.updateNextScrollPasteFlowTmp(lengthVal);
                    this.rangeHightLight = [];
                    this.currentData = currentDataUpdate;
                    this.dataInputs = [...currentDataUpdate, ''];
                    this.hasFocus = true;
                    this.leftScroll = false;
                    this.showVal = '';
                }
                this.updateTmpPositionScreen();
            },
            updatePrevScrollFlowTmp(startRange, endRange, lengthInput) {
                let lengthInputCurr = lengthInput;
                const diffRange = endRange - startRange;
                for (let i = 0; i < diffRange; i++) {
                    lengthInputCurr -= 1;
                    if ((lengthInputCurr - 1) >= this.positionMaxShow) {
                        this.handlePrevScrollTmp();
                    }
                }
            },
            updateNextScrollPasteFlowTmp(lengthPaste) {
                for (let i = 0; i < lengthPaste; i++) {
                    this.handleNextScrollPasteTmp();
                    this.positionFocus += 1;
                }
            },
            handleNextScrollPasteTmp() {
                let positionLeft = this.scrollCurrentTmp;
                positionLeft += ELEMENT_PIXEL;
                if (
                    (this.positionFocus === this.positionScreenMaxTmp)
                    || (this.selectionEnd + 1 === this.positionScreenMaxTmp)
                ) {
                    this.positionScreenMaxTmp += 1;
                    this.positionScreenMinTmp += 1;
                    this.scrollCurrentTmp = positionLeft;
                }
                this.positionScreenMax = this.positionScreenMaxTmp;
                this.positionScreenMin = this.positionScreenMinTmp;
                this.scrollCurrent = this.scrollCurrentTmp;
            },
            handleKeyAdd(value) {
                const dataInputsTmp = this.dataInputs;
                const hasDataInput = this.checkHasDataInput();
                const lengthInputCurr = this.dataInputs.length;
                this.dataInputs = [];
                // if back out text
                if (this.checkExistHightLight()) {
                    const startRange = this.rangeHightLight[0];
                    const endRange = this.rangeHightLight[1];
                    dataInputsTmp.forEach((dataInputTmp, index) => {
                        if (index < startRange || index > endRange) {
                            this.dataInputs.push(dataInputTmp);
                        } else if (index === startRange) {
                            this.dataInputs.push(value);
                        }
                    });
                    this.positionFocus = startRange + 1;
                    this.hasFocus = true;
                    this.rangeHightLight = [];
                    this.updateAgainPositionScreen(startRange, endRange, lengthInputCurr);
                    this.handleNextScroll();
                } else if (hasDataInput) {
                    this.handleNextScroll();
                    dataInputsTmp.forEach((dataInputTmp, index) => {
                        if (index === this.positionFocus) {
                            this.dataInputs.push(value);
                        }

                        this.dataInputs.push(dataInputTmp);
                    });
                    this.positionFocus += 1;
                }
                this.updateData();
            },
            updateAgainPositionScreen(startRange, endRange, lengthInputCurr) {
                if (endRange === (this.currentData.length - 1) && startRange === 0) {
                    this.resetPositionScreen();
                    this.resetScrollScreen();
                } else {
                    this.updatePrevScrollFlowTmp(startRange, endRange, lengthInputCurr);
                }
            },
            handleKeyBack() {
                // if back out text
                const dataInputsTmp = this.dataInputs;
                const hasDataInput = this.checkHasDataInput();
                if (this.checkExistHightLight()) {
                    const startRange = this.rangeHightLight[0];
                    const endRange = this.rangeHightLight[1];
                    const lengthInputCurr = this.dataInputs.length;
                    this.dataInputs = [];
                    dataInputsTmp.forEach((dataInputTmp, index) => {
                        if (index < startRange || index > endRange) {
                            this.dataInputs.push(dataInputTmp);
                        }
                    });
                    this.positionFocus = startRange;
                    this.hasFocus = true;
                    this.rangeHightLight = [];
                    this.updateAgainPositionScreen(startRange, endRange, lengthInputCurr);
                } else if (this.positionFocus > 0) {
                    this.dataInputs = [];
                    if (hasDataInput) {
                        dataInputsTmp.forEach((dataInputTmp, index) => {
                            if ((index + 1) !== this.positionFocus) {
                                this.dataInputs.push(dataInputTmp);
                            }
                        });
                    }
                    if (
                        (this.dataInputs.length - 1) >= this.positionMaxShow
                    ) {
                        this.handlePrevScroll();
                    }
                    this.decrementPosition();
                }
                this.updateData();
            },
            handleKeyLeft() {
                if (
                    this.positionFocus === this.positionScreenMin
                ) {
                    this.handlePrevScroll();
                }
                this.decrementPosition();
            },
            handleNextScroll() {
                let positionLeft = this.scrollCurrent;
                positionLeft += ELEMENT_PIXEL;
                if (
                    (this.positionFocus === this.positionScreenMax)
                    || (this.selectionEnd + 1 === this.positionScreenMax)
                ) {
                    this.positionScreenMax += 1;
                    this.positionScreenMin += 1;
                    this.scrollCurrent = positionLeft;
                }
            },
            async updateScrollInput(positionLeft) {
                await setTimeout(async () => {
                    this.$refs.showInput.scrollLeft = positionLeft;
                    this.keyBack = false;
                }, 50);
            },
            decrementPosition() {
                if (this.positionFocus > 0) {
                    this.positionFocus -= 1;
                }
            },
            incrementPosition() {
                const lengthData = this.dataInputs.length - 1;
                if (this.positionFocus < lengthData) {
                    this.positionFocus += 1;
                }
            },
            handlePrevScrollTmp() {
                let positionLeft = this.scrollCurrentTmp;
                positionLeft -= ELEMENT_PIXEL;
                if (this.positionScreenMaxTmp > this.positionMaxShow) {
                    this.positionScreenMaxTmp -= 1;
                }
                if (this.positionScreenMinTmp > 0) {
                    this.positionScreenMinTmp -= 1;
                }

                if (positionLeft < 0 || this.checkLastPage()) {
                    positionLeft = 0;
                }
                if (this.addFocus) {
                    this.addFocus = false;
                }
                this.keyBack = true;

                this.scrollCurrentTmp = positionLeft;

                this.positionScreenMax = this.positionScreenMaxTmp;
                this.positionScreenMin = this.positionScreenMinTmp;
                this.scrollCurrent = this.scrollCurrentTmp;
            },
            handlePrevScroll() {
                let positionLeft = this.scrollCurrent;
                positionLeft -= ELEMENT_PIXEL;
                if (this.positionScreenMax > this.positionMaxShow) {
                    this.positionScreenMax -= 1;
                }
                if (this.positionScreenMin > 0) {
                    this.positionScreenMin -= 1;
                }

                if (positionLeft < 0 || this.checkLastPage()) {
                    positionLeft = 0;
                }
                if (this.addFocus) {
                    this.addFocus = false;
                }
                this.keyBack = true;

                this.scrollCurrent = positionLeft;
            },
            handleKeyRight() {
                if (this.positionFocus !== this.dataInputs.length - 1) {
                    this.handleNextScroll();
                }
                this.incrementPosition();
            },
            handleOutSideInput() {
                if (this.checkDisabled()) {
                    return;
                }
                if (!this.showMenu) {
                    this.hasFocus = false;
                    this.showVal = this.getValInput(this.currentData);
                    this.showMenu = false;
                    this.rangeHightLight = [];
                    this.$emit('input', this.currentData);
                    this.resetPositionScreen();
                    this.resetScrollScreen();
                    this.destroyEventHandle();
                    this.$emit('check-blur');
                }
            },
        },
    };
</script>

<style scoped lang="scss">
    @import "../sass/custom-input.scss";
    @import "../sass/input-style.scss";
</style>
